Repository hmcts/hmi-rota-dtu, pull requests merged in 2023-06, with the labels that each got.

#51 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:hmi, prd:hmi, rel:hmi-rota-dtu-pr-51

#59 HMIS-1208 Add exception to app insight
  src/main/java/uk/gov/hmcts/reform/hmi/models/ApiResponse.java
  src/main/java/uk/gov/hmcts/reform/hmi/runner/Runner.java
  src/main/java/uk/gov/hmcts/reform/hmi/service/DistributionService.java
  src/test/java/uk/gov/hmcts/reform/hmi/runner/RunnerTest.java
  src/test/java/uk/gov/hmcts/reform/hmi/service/DistributionServiceTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-rota-dtu-pr-59

#60 Improve ServiceNow Logs
  src/main/java/uk/gov/hmcts/reform/hmi/service/ServiceNowService.java
Labels: ns:hmi, prd:hmi, rel:hmi-rota-dtu-pr-60
