Repository hmcts/hmi-rota-dtu, pull requests merged in 2023-09, with the labels that each got.

#64 HMIS-1268 Update rota dtu
  build.gradle
  src/main/java/uk/gov/hmcts/reform/hmi/service/ConversionService.java
  src/main/java/uk/gov/hmcts/reform/hmi/service/ProcessingService.java
  src/test/java/uk/gov/hmcts/reform/hmi/service/ConversionServiceTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-rota-dtu-pr-64

#65 HMIS-1287 update joh logic
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmi/models/external/Judge.java
Labels: ns:hmi, prd:hmi, rel:hmi-rota-dtu-pr-65

#73 HMIS-1294 Concatenate venue name in room name
  src/main/java/uk/gov/hmcts/reform/hmi/service/ConversionService.java
  src/test/java/uk/gov/hmcts/reform/hmi/service/ConversionServiceTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-rota-dtu-pr-73
