Repository hmcts/hmi-rota-dtu, pull requests merged in 2023-11, with the labels that each got.

#74 added functional test
  .github/renovate.json
  build.gradle
  charts/hmi-rota-dtu/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/FullFlowFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/TestClass.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/docker-compose-test.yml
  src/functionalTest/resources/test_files/rota_test_file.xml
Labels: ns:hmi, prd:hmi, rel:hmi-rota-dtu-pr-74

#75 fix build
  config/owasp/suppressions.xml
Labels: ns:hmi, prd:hmi, rel:hmi-rota-dtu-pr-75

#77 Updates values.yaml
  charts/hmi-rota-dtu/Chart.yaml
  charts/hmi-rota-dtu/values.yaml
Labels: ns:hmi, prd:hmi, rel:hmi-rota-dtu-pr-77
